name: flutter_snake_navigationbar_example
description: Demonstrates how to use the flutter_snake_navigationbar plugin.

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_snake_navigationbar:
    path: ../

flutter:
  uses-material-design: true